.action-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: whitesmoke;
    color: black;
    font-size: 1.2rem;
    height: auto;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 0 1rem;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem #ccc;
}
